* {
    box-sizing: border-box;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
h2{
    color: ;
}
h3{
    color: #4527A0;
}

body{
   
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 150vh;
    background-image: linear-gradient(rgba(11, 16, 77, 0.9),rgba(11, 16, 77,0.9)), url(../styles/case.jpg);
    background-position: center;
    
    
}
.hero{
    
    color: #D1C4E9;
    text-align: center;
    
    
    
}
.top{
   
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    padding: 10px;


    

}
.top p{
    max-width: 800px;
    line-height: 1.5rem;
}
.last-body{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.features{
   
    overflow-x: auto;
   
    align-items: center;
    text-align: center;
    display: flex;
}
.features::-webkit-scrollbar{
    display: none;
}
.text-box{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    cursor: pointer;
transition: all 0.3s ease-in;
    width: 300px;
    min-height: 200px;
    background-color: #9c86c5;
    margin-left: 10px ;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    
}
.text-box:hover{
    box-shadow: inset black 0.5px;
}

